#ThemeAsia-Support .header h1 {
	color: #6ec1e4;
	font-family: "Roboto",Sans-serif;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 45px;
}
#ThemeAsia-Support i {
	color: #6ec1e4;
	font-size: 50px;
	padding: 14px 0px;
}
#ThemeAsia-Support h2 {
	color: #6ec1e4;
	font-family: "Roboto",Sans-serif;
	font-weight: 600;
	font-size: 22px;
}
#ThemeAsia-Support h4 {
	color: #7a7a7a;
	font-family: "Roboto",Sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 50px;
}